.banner {
  background: url("https://source.unsplash.com/user/@nickkarvounis/Ciqxn7FE4vE/720*600")
    center center;
  height: 50vh;
  position: relative;
  &__info {
    background-color: black;
    color: white;
    padding-top: 20vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
    button {
      background-color: $primary-color;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
      @include set-transition-ease(1);
      &:hover {
        background-color: white;
        color: $primary-color;
      }
    }
  }
  &__search {
    display: flex;
    flex-direction: column;
  }
  &__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: $primary-color !important;
  }
}
